<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-header></app-header>

    <router-outlet></router-outlet>
    <div >
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button class="btn btn-danger" (click)="onTest()">Test FireBase</button>
      <div class="row" *ngFor="let item of items">
        <p>{{item | json}}</p>
      </div>
      <hr>
      <hr>
      <hr>
      <hr>
      <div class="row" *ngFor="let pepe of pepes">
        <p>{{pepe | json}}</p>
      </div>
    </div>
  </div>
</div>
