<div class="logo">
  <a  class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png"/>
    </div>
    SDR - Tools
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <!--<li  routerLinkActive="active" class="">-->
        <!--&lt;!&ndash;*ngFor="let menuItem of menuItems"&ndash;&gt;-->
        <!--<a  >-->
          <!--&lt;!&ndash;[routerLink]="[menuItem.path]"&ndash;&gt;-->
          <!--<i class="material-icons">{{menuItem.icon}}</i>-->
          <!--<p>{{menuItem.title}}</p>-->
        <!--</a>-->
      <!--</li>-->
      <li  routerLinkActive="active" class="active">
        <!--*ngFor="let menuItem of menuItems"-->
        <a  >
          <!--[routerLink]="[menuItem.path]"-->
          <i class="material-icons">dashboard</i>
          <p>Home</p>
        </a>
      </li>
      <li  routerLinkActive="active" class="">
        <!--*ngFor="let menuItem of menuItems"-->
        <a  >
          <!--[routerLink]="[menuItem.path]"-->
          <i class="material-icons">person</i>
          <p>Profile</p>
        </a>
      </li>
      <li  routerLinkActive="active" class="">
        <!--*ngFor="let menuItem of menuItems"-->
        <a  >
          <!--[routerLink]="[menuItem.path]"-->
          <i class="material-icons">list</i>
          <p>To Do</p>
        </a>
      </li>
    </ul>
  </div>
</div>
