<div class="logo">
  <a  class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png"/>
    </div>
    SDR - {{ actualState }}
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <li  routerLinkActive="active" class="" *ngFor="let menuItem of menuItems">
        <a [routerLink]="[menuItem.path]" >
          <i class="material-icons">{{menuItem.icon}}</i>
          <p>{{ menuItem.data.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
