<div class="main-content">
  <div class="container-fluid">
    <p>
      profile works!</p>
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <button class="btn btn-facebook" (click)="getProfile()">Profile Data</button>
        <div *ngIf="user">
          <p>{{ user.email}}</p>
          <p>{{ user.uid}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <app-signin></app-signin>
    </div>
    <div class="col-md-12">
    <app-signup></app-signup>
    </div>
  </div>
</div>