<div *ngIf="!expanded; else expandedtpl">
  <div class="row cursor-pointer" (click)="onExpand()">

    <div class="col-md-5 col-xs-8">
      <h4>{{ toDo.title }}</h4>
    </div>
    <div class="col-md-5 col-xs-12 pt-sm">
      <p>{{ toDo.description }}</p>
    </div>
    <div class="col-md-2 col-xs-4 pt-sm">
      <p>{{ toDo.status }}</p>
    </div>
  </div>
</div>

<ng-template #expandedtpl>

  <div class="container-fluid">
    <div class="row">

        <div class="col-md-9">
          <fieldset [disabled]=" !isEditable ">
          <div class="form-group form-black label-floating">
            <label for="title" class="control-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" ngModel>
          </div>
      </fieldset>
        </div>

      <div class="col-md-3 pt-lg text-right pr-sm">
        <button type="button" class=" btn btn-fab btn-primary icons-edit"
           data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom">
          <i class="material-icons" (click)="onEditForm()">edit</i>
        </button>
        <a class=" btn btn-fab btn-danger icons-edit "><i class="material-icons">clear</i></a>
        <a class=" btn btn-fab btn-success icons-edit "><i class="material-icons" (click)="onCompress()">done</i></a>
      </div>
    </div>
    <fieldset [disabled]=" !isEditable ">
    <div class="row">
      <div class="col-md-10">
        <div class="form-group form-black label-floating">
          <label for="description" class="control-label input-sm">Description</label>
          <input type="text" class="form-control" name="description" id="description" ngModel>
        </div>
      </div>
      <div class="col-md-2">
        <label for="" class="control-label">Status</label>
        <select name="" id="" class="form-control">
          <option value="0">Zero</option>
          <option value="1">one</option>
          <option value="2">twoo</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group form-black label-floating">
          <label for="description" class="control-label input-sm">Status Description</label>
          <textarea name="" id="" rows="8" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="">
            <label for="spa-lbl">Issue / Reporter:</label>
            <a id="spa-lbl" class="form-control">Issue Name</a>
          </div>
        </div>
        <div class="row">
          <div class="">
            <label for="spa-lbl">SPA Branch:</label>
            <a id="spa-lbl" class="form-control">SPA Branch Name</a>
          </div>
        </div>
        <div class="row">
          <div class="">
            <label for="spa-lbl">MSA Branch:</label>
            <a id="spa-lbl" class="form-control">MSA Branch Name</a>
          </div>
        </div>
      </div>
    </div>
    </fieldset>
  </div>


</ng-template>
